[submodule "task_allocation/BiG-MRTA"]
	path = task_allocation/BiG-MRTA
	url = https://github.com/adamslab-ub/BiG-MRTA.git
[submodule "task_allocation/CapAM-MRTA"]
	path = task_allocation/CapAM-MRTA
	url = https://github.com/adamslab-ub/CapAM-MRTA.git
